/* body{
    background-color: red; 
     background: url('../img/img1.png');
} */

 /*Navigation   */

#navbar{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-direction: column;
    
    
}
 /* #navbar ul{
    position: relative;
    width: 100%;
}  */


#myBtn {
    padding: 2px 2px;
    border: 2px solid black;
    color: white;
    background-color: orangered;
    font-size: 1rem;
    border-radius: 7px;
    cursor: pointer;
}
#myBtn:hover {
    padding: 2px 2px;
    border: 2px solid black;
    color: white;
    font-size: 1rem;
    
    background-color: orange;
    border-radius: 7px;
    cursor: pointer;
}
.btnn {
    border: none;
    position: relative;
    display: block;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;

}

#dd {
   
    position: absolute;  
    left: 10px;
    display: inline-block;
    top: 23px;
    /* width: 200px; */
    width: 0px;

}
.menu .line {
    background-color: black;
    height: 2px;
    display: block;
    margin-top: 5px;
    width: 20px;
}

#emptydiv{
    height: 190px;
    /* border: 2px solid black;  */
    background-image: linear-gradient(white, grey) ;
    
}

#transheading{
    animation: techeadinganimation 1s linear infinite;
    color: black;
    margin: 32px;
    position: absolute;
    }
@keyframes techeadinganimation {
    0%{
        color: #cdc8c8;
        font-size: 50px;

    }
    50%{color: #000000;
       font-size: 60px ;
    }
    100%{
        color: #dad6d6;
        font-size: 50px;
    }
}

.content {
    position: absolute;
    /* width: 90%;  */
    /* box-shadow: 0 18px 36px rgba(0, 0, 0, 30), 0 14px 11px rgba(0, 0, 0, 22);      */
    transition: height 1s;
    transition: 1s;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.91);
    border-radius: 10px;
    height: 780px;  
    width:  0px;
}

#navbar ul{
    display: inline;
    overflow: scroll;
    z-index: 10;
}
#navbar ul a{
    font-size: 0.9rem;
    margin: 5px;
}
#dd:hover .content {
    /* background: #1d1b31; */

    height: 750px;
    width: 200px;
    margin: 5px;
}

/* #events---{
    padding-left: 45px;
    width: 0px;
    transition: 5s ;

}
#dd:hover #events---{
    width: 200px;

} */

.content a {
    display:block;
    padding: 15px;
    color: black;
}

#navbar ul li a{
    font-size: 1.2rem;
    padding: 0px 17px;
    
    /* padding-bottom: 8px; */
}

#navbar ul a:hover {
    color: black;
    background-color: white;
    font-size: 1.2rem;
    
}    


.item{
    display: none;
}
.diff{
    padding: 0px;
    margin: 0px;
}

#contactlogo1{
    height: 50px;
    width: 50px;
    display: block;
    margin-right: -30px;

}
#contactlogodiv{
    /* width: 100%; */
    position: absolute;  
    padding-left: 269px;
    padding-top: 23px;
    float: right;
    display: block;

}


 /* Home Section  */
#home{

    height: 470px;
    padding: 3px 8px;
    /* flex-direction: column; */
}
#home::before{

    height: 445px;
    /* flex-direction: column; */
}

#home p{
    font-size: 13px;
}
#googlelink{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    width: 191px ;
    margin-top: 30px;
    border-radius: 6px;
    background-color:#f04242 ;
    font-size: 1rem;
}    

#googlelink:hover{
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    width: 191px ;
    margin-top: 30px;
    background-color:#ba0808 ;
    border-radius: 6px;
    font-size: 1rem;
}    

/* Events Section */
#services {
    display: flex;
    flex-direction: column;
}
.h-secondary{
    font-size: 1.4rem;
}

#services .box{
padding: 14px;
margin: 2px -14px;
margin-bottom: 40px;
}

#services .box img {
height: 100px;

}
.rules {
    font-size: 20px;
}
/* Utility Classes */
.h-primary{
    font-size: 50px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}

#contactlogo{
    height: 20px;
    width: 20px;
}




